[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pygamebox = {file = ".", editable = true}
requests = "*"

[dev-packages]

[requires]
python_version = "3"
